* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {font-weight: bold;
    color: white;}
header {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px 20px;
}

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: lightgray;
  font-family: Arial, sans-serif;
  margin: 0;
}



form {
  background: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  align-items: center;
 
}

h2,p  {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #444;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  background-color: #f9f9f9;
}

.column {
  flex: 1;
  min-width: 280px;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.column h3 {
  margin-top: 0;
  color: #0a3d62;
  font-size: 1.5rem;
}

.column p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  right: 0;
  top: 100%; 
  z-index: 1000;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  color: #ffcc00;
}


.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;

 
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color:white;
  transition: all 0.3s;
}


@media (max-width: 768px) {
 
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #333;
    width: 200px;
    text-align: right;
    padding: 15px 20px;
    border-radius: 8px;
  }

  nav ul li {
    margin: 15px 0;
  }

  .menu-icon {
    display: flex;
  }
 
nav.show ul {
    display: flex;
  }
}


.footer {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px 20px;
}